﻿@model WebApplication1_2018_05_02.ViewModels.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="@Url.Action("Index")">
    @Html.DisplayNameFor(b => b.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(d => d.Height)<br />


    @Html.DisplayNameFor(b => b.Weight)
    @Html.TextBoxFor(m => m.Weight)  公斤
    @Html.ValidationMessageFor(d => d.Weight)<br />

    <input type="submit" value="送出" />
</form>
<br />

計算結果： @Model.BMI <br />
等級： @Model.Level
